/**
* Template Name: Laura - v4.7.0
* Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffb727;
  text-decoration: none;
}

a:hover {
  color: #ffc85a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffb727;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #ffc550;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffb727;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #3b434a;
  letter-spacing: 1px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #ffb727;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #3b434a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #ffb727;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #ffb727;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.logo
{
  color: white;
  font-family: "Satisfy", serif;
  margin-top: 10px;
  margin-left: 30px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/5620845.jpg") top right;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
  }
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
#hero .btn-scroll i {
  font-size: 48px;
}
#hero .btn-scroll:hover {
  color: #ffb727;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }
  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}



/*--------------------------------------------------------------
# Typewriter Effect
--------------------------------------------------------------*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .07em solid #ffb727;; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 0.8s steps(44, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffb727;; }
}


/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

.loginCont
{
  visibility: hidden;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card{
height: 350px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: 20px;

}

.lcard
{
  height: 420px;
}


.card-header h3{
color: white;
}

.btn
{
  margin-top:15px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f4f5f6;
  min-height: 40px;
  margin-top: 78px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 10px 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 7px 10px;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
  border: 2px solid #fff;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #f3a200;
  border-color: #ffb727;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
.portfolio .portfolio-item .portfolio-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ffc041;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffb727;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffb727;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(59, 67, 74, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}


#main
{
  padding-bottom: 10px;
  padding-top: 20px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/pattern1.webp") top right;
}

/*--------------------------------------------------------------
# FilterBar
--------------------------------------------------------------*/
#filterBar
{
  max-width: 992px;
  /*height: 400px;*/
  margin: auto;
  background-color: white;
  border: solid #ffb727 4px;
  border-radius: 20px;
  box-shadow: 5px 3px 5px #424242;
}

#filterBarNavV
{
  width: 100%;
  height: 75px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.filterBarNavIcon
{
  width: 55px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  /* color: #ffb727; */
  cursor: pointer;
  transition: transform .2s;
}

#infoIcon > a{
  margin-left: 45px;
  margin-right: 45px;
}

.filterBarNavIcon:hover{
  transform: scale(1.1); 
}

#filterBarNavV>.col-sm>a{
  cursor: context-menu;
}

#filterBarNav>button
{
  background-color: white;
  border: none;
}

#filter
{
  width: 100%;
  /*height: 70%;*/
  padding: 20px;
  padding-top: 5px;
}
#filter,p{
  margin-bottom: 0px;
}
.filterElement{
  width: 200px;
  height: 100px;
}
.col-sm>p{
  font-size: 16px;
  font-weight: bold;
}
.col-sm{
  text-align: center;
}
#searchButton
{
  background-color: #ffb727;
  color: black;
  font-size: 25px;
  border: 2px solid #e89f0e;
  box-shadow: 5px 3px 5px #aaaaaa;
  margin-left: px;
  transition: transform .2s;
  cursor: pointer;
  display: inline-block;
  max-width: 200px;
}
#zakaziBut
{
  background-color: #ffb727;
  color: black;
  font-size: 20px;
  border: 2px solid #e89f0e;
  box-shadow: 5px 3px 5px #aaaaaa;
  transition: transform .2s;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  width: 20%;
  text-align: center;
  margin-right: auto;
}
#searchButton:hover{
  transform: scale(1.1); 
}
#zakaziBut:hover{
  transform: scale(1.1); 
}

@media only screen and (max-width: 679px) and (min-width: 576px)
{
  .filterBarNavIcon{
    width: 40%;
    margin-right: 8%;
    margin-left: 8%;
  }
  .filterBarNav{
    height: 8%;
  }
  #filter{
    margin-top: 20px;
  }
  
}
@media only screen and (max-width: 576px)
{
  .filterBarNavIcon{
    /* width: 4%; */
    margin-right: 2%;
    margin-left: 2%;
  }
  #filterBarNavV>.col-sm{
    width: 25%;
  }
  #filter{
    margin-top: 30px;
  }
}
@media only screen and (min-width:679px) and (max-width:762px)
{
  #filterBarNavV>.col-sm{
    width: 15%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 576px)
{
  /*dopuni!*/
  .col{
    width: 200px;
  }
  .rowPadding
  {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
@media only screen and (max-width: 576px )
{
  .col{
    padding-left: 90px;
  }
  .rowPadding
  {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px)
{
  .col-sm{
    /* width: 33.3%; */
  }
  #gradoviIzbor
  {
    width: 90% !important; 
  }
  #deloviiGradaIzbor
  {
    /* width: 90% !important;  */
  }
}
.sredi{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
.sredi>a
{
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  transition: transform .2s;
  cursor: pointer;
}
.sredi>a:hover{
  /*border-color: #ffb727;*/
  transform: scale(1.05); 
}

.colScroll
{
  overflow-y: scroll;
  height: 100px;
  text-align: left;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.container{
  background-color: white;
  margin-top: 10px;
}
.row{
  padding: 3%;
}
.divImg{
  width: 340px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
}
.imgElement{
  width: 100%;
  height: 100%;
}
.infoElement>p{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
.infoElement>p>span{
  font-weight: normal;
}
.col-lg{
  border: 1px solid #c9c2c1;
  transition: transform .2s;
  padding: 1%;
  margin: 1%;
  /*max-width: 50%;*/
}
.col-lg:hover{
  border-color: #ffb727;
  transform: scale(1.05); 
}
@media only screen and (max-width: 992px)
{
  .col-lg{
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

/*--------------------------------------------------------------
# dodajOglas.html
--------------------------------------------------------------*/
.inputInformation{
  margin-top: 10px;
}
.thumbnail {
  height: 150px;
  padding: 15px;
  padding-top: 0px;
  border: 1px solid #c9c2c1;
}
#mainDodavanjeOglasa
{
  padding-bottom: 10px;
  padding-top: 20px;
}
.upozori{
  color:red;
  font-size: 15px !important;
  font-weight: normal;
}
#description
{
  width: 90%;
}
#ulica{
  margin-top: 13px;
}

.cena
{
  font-size: 20px;
}

/* ALERT    */
.alert {
  position:fixed;
  right: 5px;
  top: 15%;

  padding: 20px;
  background-color: green;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
#logout{
  cursor: pointer;
}
.slika{
  max-width: 400px;
  max-height: 300px;
}